<h1> All public photos of all users : </h1>


<table>
<tbody>
	<% @photos.each do |photo| %>
	<tr>
		<td><%= link_to(image_tag(photo.image, :size => '100x175' ), user_photo_path(current_user,photo)) %></td>
	</tr>
	<% end %>
</tbody>
</table>

