<!-- views/index.erb -->


<!-- <h1> Welcome to my site!</h1>
<p> This is really good site.</p>
<p> Thanks for coming!</p> -->

<!-- <h1> Welcome to my site!</h1>
<%= "This is really good site." %>
<% "Thanks for coming!" %> #"displayed" -->

<h1>Welcome to my site, <%= @name %></h1>