<p>
  <strong>Purchase:</strong>
  <%= expenditure.item %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= expenditure.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= expenditure.category %>
</p>

<p>
  <%= link_to 'Destroy expenditure', [expenditure.spender, expenditure],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>